<div class="tweet">
  <span class="screen-name">{{ user.screen_name }}</span>:&nbsp;
  <a class="tweet-text" href="http://twitter.com/{{ user.screen_name}}/status/{{ id_str }}">{{ text }}</a>&nbsp;
  (<span class="popularity">{{ retweet_count }} retweets)
</div>
